## Conditional

In [3]:
angka = 25
if angka % 2 ==0:
  print(f"{angka} adalah angka genap")
else:
  print(f"{angka} adalah angka ganjil")

25 adalah angka ganjil

In [6]:
angka = 77
if angka % 2 == 1:
    print('ganjil')
else:
    print('genap')

ganjil

In [10]:
angka = 35 
if angka > 30:
  print (f"{angka} lebih besar dari 30")
elif angka == 30:
  print (f"{angka} sama dengan 30")
else :
  print (f"{angka} lebih kecil dari 30")

35 lebih besar dari 30

In [14]:
angka = 13

if angka%2 != 0 :
  print (f"{angka} adalah bilangan ganjil")
  if angka > 10:
    print (f"{angka} lebih besar dari 10")
  else :
    print (f"{angka} lebih kecil dari 10")
else :
  print (f"{angka} adalah bilangan genap")

13 adalah bilangan ganjil
13 lebih besar dari 10

[85 - 100] : A
[70 - 85) : B
[50 - 70) : c
[25 - 50) : D
[0 - 25) : E

In [20]:
nilai = 105
if nilai>= 85:
    print('Nilai A')
elif 70<=nilai<85:
    print('Nilai B')
elif 50<=nilai<70:
    print('Nilai C')
elif 25<=nilai<50:
    print('Nilai D')
elif nilai and nilai >= 0:
    print('Nilai E')

Nilai A

In [28]:
angka = 109
if 0 <= angka <= 100:
  if angka >= 85:
    print ("A")
  elif angka >= 70:
    print ("B")
  elif angka >= 50:
    print ("C")
  elif angka >= 25:
    print ("D")
  else : 
    print ("E")
else : 
  print ("Nilai tidak valid")

Nilai tidak valid

# Looping

In [29]:
angka = 1
print (angka)

1

In [30]:
angka = 2 
print (angka)

2

In [32]:
angka = angka + 1
print (angka)

4

In [34]:
i = 0
while i < 5 :
  i = i + 1
  print (f"i={i}, dalam while loop")

i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop
i=5, dalam while loop

# table perkalian 7x1 - 7x10

In [35]:
i = 1
while i <= 10:
  print(f"7 x {i} = {7*i}")
  i +=1 # i = 1 + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [38]:
#nested loop (table perkalian)

i = 1
j = 1

while j <= 10:
  while i <= 10:
    print (f"{j} x {i} = {j*i}")
    i +=1
  print("*"*50)
  j += 1
  i = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [40]:
# continue
# berfungsi untuk skip

i = 1
while i <= 10:
  i +=1 # i = 1 + 1
  if i == 5:
    continue
  print(f"7 x {i} = {7*i}")

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

In [43]:
for j in range(1,11):
  for i in range(1, 11):
    print (f"{j} x {i} = {j*i}")
  print ("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************